.materi-container {
    margin: 1rem;
    margin-top: 2rem;
    display: inline-block;
}

.materi-anchor {
    text-decoration: none;
    display: inline-block;
}

.materi-card {
    background: linear-gradient(180deg, #31AAC9 14.9%, rgba(40, 72, 96, 0.98) 87.81%);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 25px;
    color: #fff;
    width: 15.5rem;
    height: auto;
    min-height: 15.8rem;    
    align-items: center;
    transition: 100ms;
}

.materi-card:hover {
    transform: translate(0, -15px);
}

.materi-img {
    display: block;
    margin: auto;
    margin-top: -10%;
    width: 103px;
    height: 106.95px;
}

.materi-title {
    font-weight: 600;
}

.materi-text {
    font-weight: 300;
    line-height: 16px;
    font-size: .8rem;
    margin-top: 2em;
    padding-bottom: 1rem;
}