#login-page {
  background-color: #e8e8e8;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  position: fixed;
}

.login-card {
  background-color: #ffffff;
  border-radius: 20px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 3rem;
  width: 85%;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.login-title {
  font-weight: bold;
  color: #474747;
}

.login-form {
  margin-top: 1.5rem;
}

.login-form .form-field {
  display: flex;
  margin: 1.5rem 0;
  border-color: #858585;
  border-width: 0 0 1px 0;
  border-style: solid;
}

.login-form .form-field:focus-within {
  border-color: #fba322;
}

.login-form .form-field .form-floating {
  margin-left: 1rem;
  width: 100%;
}

.login-form .form-field .icon-form {
  height: auto;
  width: 24px;
}

.login-form .form-floating .form-noborder {
  border-width: 0px;
}

.login-form .form-floating input:-webkit-autofill,
.login-form .form-floating input:-webkit-autofill:hover,
.login-form .form-floating input:-webkit-autofill:focus,
.login-form .form-floating input:-webkit-autofill:active {
  transition: background-color 5000s ease-in-out 0s;
}

.login-form .form-floating > label {
  font-weight: 200;
}

.login-form .form-floating .form-noborder:focus {
  box-shadow: none;
}

.login-form .forgot-pass {
  text-decoration: none;
  color: #474747;
  font-size: 15px;
}

.login-form .forgot-pass:hover {
  color: #4e4e4ed8;
}

.login-form .login-button {
  background-color: #fba322;
  margin-top: 3rem;
  width: 126px;
  height: 45px;
  border: none;
  font-weight: 500;
}

.login-form .login-button:hover {
  background-color: #ffc062;
}

.login-form .login-button:focus {
  box-shadow: none;
}

.login-form .warning-icon {
  color: red;
  margin-right: 1rem;
}

.login-check {
  margin-top: 1rem;
  text-align: center;
  font-weight: normal;
  font-size: 16px;
  color: #212041;
}

.login-check a {
  font-weight: 500;
  text-decoration: none;
  color: #212041;
}

.login-check a:hover {
  color: #4e4e4ed8;
}

.login-form .form-field .form-floating .password-visible {
  position: absolute;
  top: 25px;
  right: 20px;
  width: 24px;
}

@media (max-width: 768px) {
  #login-page {
    position: relative;
    padding: 10px 0;
  }

  .login-card {
    position: relative;
    margin: 2rem auto;
    top: 0;
    left: 0;
    transform: none;
  }

  .login-check {
    margin-top: 2rem;
  }
}
